.ps {
  border: 1px solid rgb(255, 255, 255);
  padding: 3px;
  height: 180px;
}

#nav {
  width: 45%;
  float: left;
}

#nav1 {
  width: 45%;
  float: right;
}

#section {
  width: 70%;
  float: center;
  font-family: cursive;
}

#footer {
  width: 100%;
}

.body {
  border: 2px solid black;
  padding: 50px;
}

.body2 {
  border-radius: 10px 1px 10px 10px;
  -moz-border-radius: 10px 1px 10px 10px;
  -webkit-border-radius: 10px 1px 10px 10px;
  border: 2px ridge #0803b7;
  padding: 50px;
}

.h {
  border-radius: 10px 1px 10px 10px;
  -moz-border-radius: 10px 1px 10px 10px;
  -webkit-border-radius: 10px 1px 10px 10px;
  border: 2px ridge #0803b7;
  padding: 10px;
}

.divl {
  width: 45%;
  background-color: rgb(169, 248, 238);
  float: left;
}

.divr {
  width: 45%;
  background-color: rgb(169, 248, 238);
  float: right;
}

.body_index {
  border: 2px solid white;
  padding: 50px;
}

.body6 {
  padding-left: 150px;
  padding-right: 150px;
}

.div6 {
  background-color: hsla(0, 1%, 32%, 0.438);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.h_6 {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
}

.p6 {
  background-color: whitesmoke;
  color: black;
  font-family: cursive;
  padding: inherit;
  text-align: center;
}

.h7_1-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline overline blue;
  text-align: center;
  text-shadow: 1px 1px 3px gold;
  color: #666666;
  background-color: #eeeeee;
}

#imagen {
  vertical-align: top;
}

.intro:first-letter {
  font-size: 150%;
}

.credits {
  font-family: 'Courier New', Courier, monospace;
}

input {
  padding: 10px 12px 10px 12px;
  border: px solid black;
  color: black;
}

input.submit:hover {
  background-color: blue;
}

input.submit:active {
  background-color: green;
}

input.text {
  color: #cccccc;
}

input.text:focus {
  color: #eb0808;
}
